#air-quality-card {
    display: flex;
    gap: $small-spacing;

    #aqi-wrapper {
        flex-grow: 1;
        position: relative;

        #aqi-indicator {
            position: absolute;
            left: 50%;
            top: 35%;
            translate: -50%;
            white-space: nowrap;
        }

        #aqi-meter {
            position: absolute;
            left: 50%;
            top: 70%;
            translate: -50% -50%;
            width: 100%;
            height: 0.7rem;
            border-radius: $default-border-radius;

            &::-webkit-progress-value {
                background-color: currentColor;
            }

            &::-webkit-progress-bar {
                border-radius: $default-border-radius;
                background-color: lightgray;
                overflow: hidden;
            }
        }
    }

    #air-quality-divider {
        width: $default-divider-width;
        height: 100%;
        background-color: white;
    }

    #pollen-wrapper {
        @extend .vertical-space-between;

        ul {
            list-style-type: none;
        }
    }
}
