// Define a bunch of constants
$large-spacing: 1.3rem;
$default-spacing: 1rem;
$small-spacing: $large-spacing * 0.5;
$default-border-radius: 1rem;
$small-border-radius: 0.5rem;
$default-divider-width: 0.05rem;

$main-element-width: 70rem;
$main-element-medium-width: 40rem;
$main-element-small-width: 25rem;

$heading-font-size: 1.2rem;
$default-font-size: 1.1rem;
$small-font-size: 0.9rem;

$faded-text-opacity: 0.7;

$card-color: rgba(190, 190, 190, 0.2);