#current-weather-card {
    @extend .vertical-space-between;

    #current-weather-and-temperature {
        display: flex;
        justify-content: space-between;

        img {
            width: 40%;
            align-self: start;
        }

        & > div {
            text-align: center;

            #current-temperature {
                font-size: 6rem;
                line-height: 5.5rem;
                font-weight: bold;
                position: relative;

                &::before {
                    content: "°C";
                    position: absolute;
                    right: -0.25em;
                    top: -0.25em;
                    font-size: 0.2em;
                    line-height: 0;
                    font-weight: normal;
                }
            }
            #current-weather-text {
                font-size: $heading-font-size;
            }
        }
    }

    #highest-lowest-and-apparent-temperature {
        display: flex;
        justify-content: space-between;
    }
}
