#daily-weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #daily-weather-items {
        display: flex;
        flex-direction: column;

        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .daily-weather-item {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 0.5fr 1fr 1fr;
            padding: $default-spacing * 0.55 0;
            border-bottom: $default-divider-width solid white;

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            .daily-weather-item-day {
                flex-basis: 5rem;
            }

            img {
                height: 1.5rem;
            }

            .daily-weather-item-max-temperature {
                &::before {
                    content: "H:";
                }
                &::after {
                    content: "°";
                }
            }

            .daily-weather-item-min-temperature {
                &::before {
                    content: "L:";
                }
                &::after {
                    content: "°";
                }
            }
        }
    }
}
