// This has the styling for the time of day section

#day-night-card {
    position: relative;
    display: flex;
    flex-direction: column;

    #day-night-canvas {
        // Take up any available space
        height: 0;
        flex-grow: 1;
        width: 100%;
    }

    p {
        #sunrise {
            position: absolute;
            bottom: $large-spacing;
            left: $large-spacing + 2.5rem;
        }
        #sunset {
            position: absolute;
            bottom: $large-spacing;
            right: $large-spacing + 2.5rem;
        }
    }
}
