#precipitation-card {
    @extend .vertical-space-between;

    #precipitation-canvas-wrapper {
        overflow: auto hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        #precipitation-canvas {
            width: 100%;
            height: 100%;
        }
    }
}
