#weather-conditions-card {
    white-space: nowrap;

    & > div {
        column-count: 3;
        height: 90%;

        div {
            margin-left: 5%;
            align-content: center;
            height: 50%;

            img {
                width: 1.5rem;
                margin-right: 0.3rem;
                float: left;
            }

            p {
                white-space: nowrap;
            }
        }
    }
}
