@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: linear-gradient(#4472e8, #264082);
  height: 100dvh;
}

.vertical-space-between, #precipitation-card, #air-quality-card #pollen-wrapper, #hourly-weather-card, #current-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[data-horizontal-scroll],
[data-vertical-scroll] {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
[data-horizontal-scroll] img,
[data-vertical-scroll] img {
  pointer-events: none;
}
[data-horizontal-scroll][data-mouse-down],
[data-vertical-scroll][data-mouse-down] {
  cursor: grabbing;
}

#current-weather-card #current-weather-and-temperature {
  display: flex;
  justify-content: space-between;
}
#current-weather-card #current-weather-and-temperature img {
  width: 40%;
  align-self: start;
}
#current-weather-card #current-weather-and-temperature > div {
  text-align: center;
}
#current-weather-card #current-weather-and-temperature > div #current-temperature {
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: bold;
  position: relative;
}
#current-weather-card #current-weather-and-temperature > div #current-temperature::before {
  content: "°C";
  position: absolute;
  right: -0.25em;
  top: -0.25em;
  font-size: 0.2em;
  line-height: 0;
  font-weight: normal;
}
#current-weather-card #current-weather-and-temperature > div #current-weather-text {
  font-size: 1.2rem;
}
#current-weather-card #highest-lowest-and-apparent-temperature {
  display: flex;
  justify-content: space-between;
}

#weather-conditions-card {
  -moz-column-count: 3;
       column-count: 3;
  white-space: nowrap;
}
#weather-conditions-card div {
  margin-left: 15%;
  align-content: center;
  height: 50%;
}
#weather-conditions-card div img {
  width: 1.5rem;
  margin-right: 0.3rem;
  float: left;
}
#weather-conditions-card div p {
  white-space: nowrap;
}

#hourly-weather-card #hourly-weather-items {
  display: flex;
  overflow-x: auto;
}
#hourly-weather-card #hourly-weather-items::-webkit-scrollbar {
  display: none;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item {
  text-align: center;
  padding: 0 1rem;
  border-right: 0.05rem solid white;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item:first-child {
  padding-left: 0;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item:last-child {
  border: none;
  padding-right: 0;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item .hourly-weather-item-time {
  opacity: 0.5;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item img {
  width: 2.5rem;
  margin: 0.5rem 0;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item .hourly-weather-item-temperature {
  font-weight: bold;
  font-size: 1.2rem;
}
#hourly-weather-card #hourly-weather-items .hourly-weather-item .hourly-weather-item-temperature::after {
  content: "°";
}

#daily-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
#daily-weather-card #daily-weather-items {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#daily-weather-card #daily-weather-items::-webkit-scrollbar {
  display: none;
}
#daily-weather-card #daily-weather-items .daily-weather-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1.2fr 0.5fr 0.8fr 0.8fr;
  padding: 0.825rem 0;
  border-bottom: 0.05rem solid white;
}
#daily-weather-card #daily-weather-items .daily-weather-item:last-child {
  border-bottom: 0;
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-day {
  flex-basis: 5rem;
  justify-self: left;
}
#daily-weather-card #daily-weather-items .daily-weather-item img {
  height: 1.5rem;
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-max-temperature::before {
  content: "H:";
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-max-temperature::after {
  content: "°";
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-min-temperature {
  justify-self: right;
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-min-temperature::before {
  content: "L:";
}
#daily-weather-card #daily-weather-items .daily-weather-item .daily-weather-item-min-temperature::after {
  content: "°";
}

#day-night-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
#day-night-card #day-night-canvas {
  height: 0;
  flex-grow: 1;
}
#day-night-card p #sunrise {
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
}
#day-night-card p #sunset {
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
}

#air-quality-card {
  display: flex;
  gap: 0.75rem;
}
#air-quality-card #aqi-wrapper {
  flex-grow: 1;
  position: relative;
}
#air-quality-card #aqi-wrapper #aqi-indicator {
  position: absolute;
  left: 50%;
  top: 35%;
  translate: -50%;
  white-space: nowrap;
}
#air-quality-card #aqi-wrapper #aqi-meter {
  position: absolute;
  left: 50%;
  top: 70%;
  translate: -50% -50%;
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
}
#air-quality-card #aqi-wrapper #aqi-meter::-webkit-progress-value {
  background-color: currentColor;
}
#air-quality-card #aqi-wrapper #aqi-meter::-webkit-progress-bar {
  border-radius: 1rem;
  background-color: lightgray;
  overflow: hidden;
}
#air-quality-card #air-quality-divider {
  width: 0.05rem;
  height: 100%;
  background-color: white;
}
#air-quality-card #pollen-wrapper ul {
  list-style-type: none;
}

#precipitation-card #precipitation-canvas-wrapper {
  overflow: auto hidden;
}
#precipitation-card #precipitation-canvas-wrapper::-webkit-scrollbar {
  display: none;
}
#precipitation-card #precipitation-canvas-wrapper #precipitation-canvas {
  width: 100%;
  height: 100%;
}

#weather-grid {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: white;
  width: 70rem;
  /*85*/
  height: 40rem;
  /*50*/
  margin-bottom: 0;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1.5fr 1fr;
  /* TODO, maybe change from 1.5fr to 1.4fr?*/
  grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
}

#weather-grid > section {
  background-color: rgba(217, 217, 217, 0.2);
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
}
#weather-grid > section h2 {
  font-size: 1.2rem;
}
#weather-grid > section p {
  font-size: 1.1rem;
}

#current-weather-card {
  grid-area: 1/1/span 2/span 1;
}

#weather-conditions-card {
  grid-area: 1/2/span 2/span 2;
}

#hourly-weather-card {
  grid-area: 3/1/span 1/span 3;
}

#daily-weather-card {
  grid-area: 1/4/span 3/span 1;
}

#day-night-card {
  grid-area: 4/1/span 2/span 1;
}

#air-quality-card {
  grid-area: 4/2/span 2/span 1;
}

#precipitation-card {
  grid-area: 4/3/span 2/span 2;
}/*# sourceMappingURL=style.css.map */