* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/InterVariableFont.ttf);
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: linear-gradient(#4472e8, #264082);
    max-height: 100%;
    overflow: auto;
    color: white;
    padding: 3rem 0;
    box-sizing: content-box;
}

.vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-space-between {
    display: flex;
    justify-content: space-between;
}

[data-horizontal-scroll],
[data-vertical-scroll] {
    cursor: grab;
    user-select: none;

    img {
        pointer-events: none;
    }

    &[data-mouse-down] {
        cursor: grabbing;
    }
}

$large-spacing: 1.3rem;
$default-spacing: 1rem;
$small-spacing: $large-spacing * 0.5;
$default-border-radius: 1rem;
$small-border-radius: 0.5rem;
$default-divider-width: 0.05rem;

$heading-font-size: 1.2rem;
$default-font-size: 1.1rem;
$small-font-size: 0.9rem;

$card-color: rgba(217, 217, 217, 0.2);

@import "current_weather";
@import "weather_conditions";
@import "hourly_weather";
@import "daily_weather";
@import "day_night";
@import "air_quality";
@import "precipitation";
@import "location_pop_up";

@mixin top-level-element {
    margin: auto;
    width: 70rem;
    margin-top: $default-spacing;
}

#header {
    @include top-level-element();
    position: relative;
    display: grid;
    gap: $default-spacing;
    grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
    grid-template-rows: 1fr;

    & > button {
        @include card-styling();
        cursor: pointer;
        text-align: left;
        grid-column: 1 / 2;
        font-size: $default-font-size;
        color: white;
        border: none;
    }
}

#weather-grid {
    @include top-level-element();
    height: 40rem;
    display: grid;
    gap: $default-spacing;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    /* TODO, maybe change from 1.5fr to 1.4fr?*/
    grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
}

#weather-grid > section {
    @include card-styling();
    min-width: 0;
    min-height: 0;

    h2 {
        font-size: $heading-font-size;
    }

    p {
        font-size: $default-font-size;
    }
}

#current-weather-card {
    grid-area: 1 / 1 / span 2 / span 1;
}

#weather-conditions-card {
    grid-area: 1 / 2 / span 2 / span 2;
}

#hourly-weather-card {
    grid-area: 3 / 1 / span 1 / span 3;
}

#daily-weather-card {
    grid-area: 1 / 4 / span 3 / span 1;
}

#day-night-card {
    grid-area: 4 / 1 / span 2 / span 1;
}

#air-quality-card {
    grid-area: 4 / 2 / span 2 / span 1;
}

#precipitation-card {
    grid-area: 4 / 3 / span 2 / span 2;
}

@media (max-width: 1200px) {
    #header {
        grid-template-columns: repeat(2, 1fr);
        width: 650px;
    }

    #weather-grid {
        width: 650px;
        height: 1100px;
        grid-template-rows: 1.4fr 1.3fr 0.7fr 1fr 0.7fr;
        grid-template-columns: repeat(2, 1fr);
    }

    #current-weather-card {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #weather-conditions-card {
        grid-area: 2 / 1 / span 2 / span 1;

        & > div {
            column-count: 2 !important;

            div {
                height: 33%;
            }
        }
    }

    #hourly-weather-card {
        grid-area: 4 / 1 / span 1 / span 2;
    }

    #daily-weather-card {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    #day-night-card {
        grid-area: 5 / 1 / span 1 / span 1;
    }

    #air-quality-card {
        grid-area: 5 / 2 / span 1 / span 1;
    }

    #precipitation-card {
        grid-area: 3 / 2 / span 1 / span 1;
    }
}

@media (max-width: 700px) {
    body {
        padding: $default-spacing;
    }

    #header {
        grid-template-columns: 1fr;
        width: 95%;
        max-width: 400px;
    }

    #weather-grid {
        width: 95%;
        max-width: 400px;
        height: 1800px;
        grid-template-rows: 0.6fr 0.8fr 0.4fr 1fr 0.3fr 0.3fr 0.3fr;
        grid-template-columns: 1fr;
    }

    #current-weather-card {
        grid-area: 1 / 1 / span 1 / span 1;
        background-color: transparent !important;
    }

    #weather-conditions-card {
        grid-area: 2 / 1 / span 1 / span 1;

        & > div {
            column-count: 2 !important;

            div {
                height: 33%;
            }
        }
    }

    #hourly-weather-card {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #daily-weather-card {
        grid-area: 4 / 1 / span 1 / span 1;
    }

    #day-night-card {
        grid-area: 5 / 1 / span 1 / span 1;
    }

    #air-quality-card {
        grid-area: 6 / 1 / span 1 / span 1;
    }

    #precipitation-card {
        grid-area: 7 / 1 / span 1 / span 1;
    }
}
