// This is the main SCSS file responsible for linking the other SCSS files styling the weather main grid

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Set a custom font
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/InterVariableFont.ttf);
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: linear-gradient(#4472e8, #264082);
    max-height: 100%;
    overflow: auto;
    color: white;
    padding: 3rem 0;
    box-sizing: content-box;
}

// Define two helper classes
.vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.horizontal-space-between {
    display: flex;
    justify-content: space-between;
}

[data-horizontal-scroll],
[data-vertical-scroll] {
    cursor: grab;
    user-select: none;

    img {
        pointer-events: none;
    }

    &[data-mouse-down] {
        cursor: grabbing;
    }
}

// Define a bunch of constants
$large-spacing: 1.3rem;
$default-spacing: 1rem;
$small-spacing: $large-spacing * 0.5;
$default-border-radius: 1rem;
$small-border-radius: 0.5rem;
$default-divider-width: 0.05rem;

$main-element-width: 70rem;
$main-element-medium-width: 40rem;
$main-element-small-width: 25rem;

$heading-font-size: 1.2rem;
$default-font-size: 1.1rem;
$small-font-size: 0.9rem;

$card-color: rgba(217, 217, 217, 0.2);

// Link/import the other SCSS modules
@import "current_weather";
@import "weather_conditions";
@import "hourly_weather";
@import "daily_weather";
@import "day_night";
@import "air_quality";
@import "precipitation";
@import "location_pop_up";

#header {
    margin: auto;
    width: $main-element-width;
    margin-top: $default-spacing;
    position: relative;
    display: grid;
    gap: $default-spacing;
    grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
    grid-template-rows: 1fr;

    & > button {
        // Comes from the location pop-up module
        @include card-styling();
        cursor: pointer;
        text-align: left;
        grid-column: 1 / 2;
        font-size: $default-font-size;
        color: white;
        border: none;
    }
}

#footer {
    margin: auto;
    width: $main-element-width;
    margin-top: $large-spacing;
}

// Style the main weather grid
#weather-grid {
    margin: auto;
    width: $main-element-width;
    margin-top: $default-spacing;
    height: 40rem;
    display: grid;
    gap: $default-spacing;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    /* TODO, maybe change from 1.5fr to 1.4fr?*/
    grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
}

#weather-grid > section {
    // Comes from the location pop-up module
    @include card-styling();
    min-width: 0;
    min-height: 0;

    h2 {
        font-size: $heading-font-size;
    }

    p {
        font-size: $default-font-size;
    }
}

#current-weather-card {
    grid-area: 1 / 1 / span 2 / span 1;
}

#weather-conditions-card {
    grid-area: 1 / 2 / span 2 / span 2;
}

#hourly-weather-card {
    grid-area: 3 / 1 / span 1 / span 3;
}

#daily-weather-card {
    grid-area: 1 / 4 / span 3 / span 1;
}

#day-night-card {
    grid-area: 4 / 1 / span 2 / span 1;
}

#air-quality-card {
    grid-area: 4 / 2 / span 2 / span 1;
}

#precipitation-card {
    grid-area: 4 / 3 / span 2 / span 2;
}

// Change the styling for medium screen size
@media (max-width: 1170px) {
    #header {
        grid-template-columns: repeat(2, 1fr);
        width: $main-element-medium-width;
    }

    #footer {
        width: $main-element-medium-width;
    }

    #weather-grid {
        width: $main-element-medium-width;
        height: 1100px;
        grid-template-rows: 1.4fr 1.3fr 0.7fr 1fr 0.7fr;
        grid-template-columns: repeat(2, 1fr);
    }

    #current-weather-card {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #weather-conditions-card {
        grid-area: 2 / 1 / span 2 / span 1;

        & > div {
            column-count: 2 !important;

            div {
                height: 33%;
            }
        }
    }

    #hourly-weather-card {
        grid-area: 4 / 1 / span 1 / span 2;
    }

    #daily-weather-card {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    #day-night-card {
        grid-area: 5 / 1 / span 1 / span 1;
    }

    #air-quality-card {
        grid-area: 5 / 2 / span 1 / span 1;
    }

    #precipitation-card {
        grid-area: 3 / 2 / span 1 / span 1;
    }
}

// Change the styling for mobile screen size
@media (max-width: 700px) {
    body {
        padding: $default-spacing;
    }

    #header {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: $main-element-small-width;
    }

    #footer {
        width: 100%;
        max-width: $main-element-small-width;
    }

    #weather-grid {
        width: 100%;
        max-width: $main-element-small-width;
        height: 1800px;
        grid-template-rows: 0.6fr 0.4fr 1fr 0.8fr 0.3fr 0.3fr 0.3fr;
        grid-template-columns: 1fr;
    }

    #current-weather-card {
        grid-area: 1 / 1 / span 1 / span 1;
        background-color: transparent !important;
    }

    #weather-conditions-card {
        grid-area: 4 / 1 / span 1 / span 1;

        & > div {
            column-count: 2 !important;

            div {
                height: 33%;
            }
        }
    }

    #hourly-weather-card {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #daily-weather-card {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    #day-night-card {
        grid-area: 5 / 1 / span 1 / span 1;
    }

    #air-quality-card {
        grid-area: 6 / 1 / span 1 / span 1;
    }

    #precipitation-card {
        grid-area: 7 / 1 / span 1 / span 1;
    }
}
