* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: linear-gradient(#4472E8, #264082);
    height: 100dvh;
}

.vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[data-horizontal-scroll] {
    cursor: grab;
    user-select: none;

    img {
        pointer-events: none;
    }

    &[data-mouse-down] {
        cursor: grabbing;
    }
}

$default-spacing: 1.5rem;
$default-border-radius: 1rem;
$default-divider-width: 0.05rem;

$heading-font-size: 1.2rem;
$default-font-size: 1.1rem;

@import "current_weather";
@import "weather_conditions";
@import "hourly_weather";
@import "daily_weather";
@import "day_night";
@import "air_quality";
@import "precipitation";

#weather-grid {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: white;
    width: 68rem;
    /*85*/
    height: 40rem;
    /*50*/
    margin-bottom: 0;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    /* TODO, maybe change from 1.5fr to 1.4fr?*/
    grid-template-columns: 1fr 1.2fr 0.2fr 1fr;
}

#weather-grid > section {
    background-color: rgba(217, 217, 217, 0.2);
    padding: $default-spacing * 0.8 $default-spacing;
    border-radius: $default-border-radius;

    h2 {
        font-size: $heading-font-size;
    }

    p {
        font-size: $default-font-size;
    }
}

#current-weather-card {
    grid-area: 1 / 1 / span 2 / span 1;
}

#weather-conditions-card {
    grid-area: 1 / 2 / span 2 / span 2;
}

#hourly-weather-card {
    grid-area: 3 / 1 / span 1 / span 3;
}

#daily-weather-card {
    grid-area: 1 / 4 / span 3 / span 1;
}

#day-night-card {
    grid-area: 4 / 1 / span 2 / span 1;
}

#air-quality-card {
    grid-area: 4 / 2 / span 2 / span 1;
}

#precipitation-card {
    grid-area: 4 / 3 / span 2 / span 2;
}
